<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#{% stylesheets#}
        {#'bundles/event/css/event.css'#}
        {#'bundles/event/css/events.css'#}
        {#'bundles/event/css/main.css'#}
        {#%}#}
        {#<link rel="stylesheet" href="{{ asset_url }}"/>#}
        {#{% endstylesheets %}#}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/event/css/event.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/event/css/events.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/event/css/main.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
