{% extends '::base.html.twig' %}
{# This is comment #}

{% block title 'Twiggy Goodness!!!' %}

{% block body %}
    <ul>
    {% for i in 1..10 %}
        {% if i is odd %}
        <li>Hello {{ name|capitalize }} {{ i }}!!</li>
        {% endif %}
    {% endfor %}
    </ul>

    <h2>Event Detail</h2>
    {{ event.id }}<br/>
    {{ event.name }}<br/>
    {{ event.location }}
{% endblock %}